<!DOCTYPE html>
<html>
<head>
<title>COVID-19 Daily Checker</title>
<link rel="stylesheet" href="css/about.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <ul>
  <li><a href="home.html">Home</a></li>
  <li><a class="active" href="about.html">About</a></li>
</ul>
  
<h1> PPU Covid Checker Creator Team</h1>
  <br>
  <br>
  <br>

<h1>
  Gavin Starr
</h1>

<img class="img-thumbnail" src="img/gavin.jpg" alt="Gavin" width="500" height="500">

<p>
  Gavin is a senior at Point Park and will be commisioning in the Air Force uppon graduation. This web page was developed
  to give the students and staff at Point Park University a better undertanding of COVID-19 at the University.
  </p>
  
<h1>
Sabrina Tatalias
</h1>

<img class="img-thumbnail" src="img/sabrina.jpg" alt="Sabrina" width="500" height="500">

<p>
Sabrina is a senior at Point Park and will be an Analytics Consultant at Bounteous upon graduation in December 2021. Her favorite feature of
the covid checker is the Admin portal in order to give quick insights at a clance in order for the university to make policy and mitigration tactics. 
</p>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
