
<!DOCTYPE html>
<html>
<head>
<title>COVID-19 Daily Checker</title>
<link rel="stylesheet" href="css/about.css">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<ul>
<li><a href="home.html">Home</a></li>
<li><a class="active" href="about.html">About</a></li>
</ul>
<h1> PPU Covid Checker</h1>
<br>
<p class="text-center">
    We created the Point Park Covid Checker during our Senior Project course in 2021.
   The goal here was to develop a covid cheacker, that the university currently lacked <br>
   in order to obtain covid data on the university community, along with
   provide insights for university admin to make bette, data-driven, mitigration policies. <br>
   This was created to combat the covid-19 virus, although can be applied to relatively
   any setting (K-12 Schools, University, and even Companies), <br>along with tailored to any illness or disease
   that is around such as flu, whooping cough, lice, and more. </p>


<h1> PPU Covid Checker Creator Team</h1>

<h1>
Gavin Starr
</h1>

<figure class="centerText">
  <img class="img-thumbnail" src="img/gavin.jpg" alt="Gavin" width="500" height="500">
  <figcaption class="figure-caption text-center">Gavin is a senior at Point Park and will be commisioning in the <br> Air Force uppon graduation. This web page was developed
  to give<br> the students and staff at Point Park University a better <br>undertanding of COVID-19 at the University.</figcaption>
</figure>

<h1>
Sabrina Tatalias
</h1>

<figure class="centerText">
  <img class="img-thumbnail" src="img/sabrina.jpg" alt="Sabrina" width="500" height="500">
  <figcaption class="figure-caption text-center">Sabrina is a senior at Point Park and will be an Analytics Consultant <br> at Bounteous upon graduation in December 2021. Her favorite feature of
  the covid <br>checker is the Admin portal in order to give quick insights at a clance in <br>order for the university to make policy and mitigration tactics.</figcaption>
</figure>

<h1>
Sammy Abdulkader
</h1>

<figure class="centerText">
  <img class="img-thumbnail" src="img/sammy.jpeg" alt="Sammy" width="500" height="500">
  <figcaption class="figure-caption text-center">Sammy is a senior at Point Park and currently working <br> at Philips Respironics as an intern and will graduate spring of 2021
    His current role<br> is feature some of front-end & backend design for the COVID checkers UI.</figcaption>
</figure>

<h1>
Mustafa Farooqui
</h1>

<figure class="centerText">
  <img class="img-thumbnail" src="img/mus.jpg" alt="Mustafa" width="500" height="500">
  <figcaption class="figure-caption text-center">Mustafa Farooqui. A senior at Point Park university, Expected <br>
    to Graduate in December of 2021. An Information Technology <br>Major as well as a student Athlete. His favourite
    aspect of the App is the <br> data analytics aspect. which allows good data to be tracked and shown.</figcaption>
</figure>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
